# Build outputs
bin/
obj/
x64/
Debug/
Release/
publish/
*.exe
*.dll
*.pdb
*.ilk
*.idb
*.log
*.tlog/
*.lastbuildstate
*.ipdb
*.iobj

# .NET
*.nupkg
project.lock.json
*.nuget.props
*.nuget.targets

# Visual Studio
.vs/
*.suo
*.user
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
ipch/
launchSettings.json

# Misc
*.bak
*.tmp
Thumbs.db
desktop.ini
publish/
build-test
